<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86901104412-00lq5j6a6echvcjnrjje6jk37d8q12s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86901104412-00lq5j6a6echvcjnrjje6jk37d8q12s8</string>
	<key>API_KEY</key>
	<string>AIzaSyB6M9AlSssixHlVbV-dv2uyN58ahHwH9SM</string>
	<key>GCM_SENDER_ID</key>
	<string>86901104412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asseguermiyas.HandyListApp</string>
	<key>PROJECT_ID</key>
	<string>handylist-4947d</string>
	<key>STORAGE_BUCKET</key>
	<string>handylist-4947d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86901104412:ios:73ed8c41af4ca07f2664d9</string>
</dict>
</plist>